<div class="col-md-6 background">
    <h1> ChatGPT AI Powered Response</h1>
    <%= render partial: "ai/request_form", locals: {uuid: @uuid}%>

    <%= turbo_stream_from "channel_#{@uuid}" %>

    <h2> Response </h2>
        
    <div id="ai_output">
        <%= render partial: "ai/output", locals: {generated_idea: ""} %>
    </div>
</div>

<div class="col-md-4">
    <h1> Prompt Examples</h1>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
